@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
    &__slider
      width: 590px 
  .card
    width: 230px
    height: 230px
  .footer 
    &__input
      flex-basis: 100%  






@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px     
      &__search
        margin-left: auto
        margin-right: 73px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
      
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px 
    &-right
      flex-direction: row
    &-slider
      width: 100%  
  .booking
    width: 340px        
  .map
    width: 340px
  .newsletter
    &-wrapper 
      max-width: 700px
      width: 100%  
  .reviews
    &-slider
      &__item
        max-width: 580px 
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px   
  .card
    width: 340px
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 47%
      
    &__logo
      grid-row: 1 / 2
      grid-column: span 2 

    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2    
    &__contact
      &-details
        grid-column: span 5 
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4              



@media (max-width: 768px)
  .container
    max-width: 700px
    width: 100%
  .navbar
    &-menu
      padding-top: 21px
      padding-bottom: 22px 
      padding-left: 15px 
      padding-right: 15px
    &-top
      &__search
        margin-left: auto
        margin-right: 73px
  .stars 
    flex-basis: 100%
  .hotel
    padding-bottom: 59px
    &-info
      &__rating
        margin-top: 7px 
    &-right
      flex-direction: row
      max-height: 450px
    &-slider
      height: 450px   
  .booking 
    width: 340px 
    height: 210px
    padding: 29px 22px 30px 24px
  .map
    width: 340px
    height: 210px
  .newsletter
    &-wrapper 
      display: flex
      max-width: 700px
      width: 100%
      flex-direction: row
      align-items: flex-start
    &-title
      margin-top: -5px  
  .reviews
    padding-bottom: 0px
    &-slider
      &__item
        padding: 0 62px 30px
        &:after, &:before
          display: none
      &__profile
        margin-top: -45px
        margin-bottom: 25px
      &__username
        margin-top: 9px
        margin-bottom: 9px
      &__date
        margin-bottom: 0px 
      &__rating
        margin-top: -1px  
        margin-left: 2px        
      &__stars
        margin-right: 0px
      &__button
        top: 172px 
        &--prev
          left: 0px
        &--next
          right: 0px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px      
  .subscribe
    margin-top: 4px
  .activities
    padding-top: 40px
    padding-bottom: 49px
    padding-left: 37px
    padding-right: 36px
    &-wrapper
      width: 100%
      margin: 0 auto
    &__title
      margin-bottom: 58px 
  .card
    width: 48%
    height: 255px
    &__button
      margin-left: 2px 
      margin-right: 0px
      padding: 7px 20px 
  .footer
    padding-top: 75px
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      grid-row-gap: 10px
      grid-column-gap: 10px
    &__input
      flex-basis: 47%     
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      width: 100px
      height: 108px
      margin-top: 0px 
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 10
        align-self: center
        justify-self: start
        margin-left: 70px
        margin-top: 8px
      &-links
        margin-top: 3px  
    &__categories
      grid-row: 2 / 3
      grid-column: span 3
      margin-top: 40px

    &__additional
      grid-column: span 5
      margin-top: 40px
      margin-left: 22px 
    &__legal
      grid-column: span 4
      justify-self: start
      margin-top: 40px
      margin-left: 25px      
    &__contact
      &-details
        grid-column: span 9 
        grid-row: 3
        margin-top: 50px
      &-form
        grid-column: span 5
        grid-row: 4              
    &__title
      margin-top: 0px
      &--inline
        margin: 0px 43px 0 0
      &--mb-4
        margin-bottom: 35px  
    &__contact
      &-form
        margin-top: 25px
        margin-left: -3px
    &__icon
      &-wrapper
        margin-left: 7px
        margin-top: 4px
    &__item
      &--mb-21
        margin-bottom: 13px    


           
               

    
          
          
            
@media (max-width: 767px)
  .container,
  .newsletter-wrapper
    max-width: 576px
    width: 92% 
  .logo
    width: 99px
  .navbar
    &-menu
      display: none 
    &-top
      &__search, &__user
        display: none  
  .navbar
    &-top
      padding-top: 23px
      padding-bottom: 30px 
      padding-right: 12px
  .menu
    &-button
      display: flex
      width: 16px
      height: 14px
      padding-top: 3px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto      
  .rating
    display: none   
  .hotel
    &-righ
    &-name
      flex-basis: 100% 
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__offer
        order: -1
        margin-left: 0
    &__slider
      height: 250px 
      margin-bottom: 20px
  .booking 
    width: 100%
  .map
    width: 100%    
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px   
    &-wrapper 
      display: flex
      max-width: 576px
      width: 100%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__button
        top: 35px 
        &--prev
          left: 50%
          transform: translate(-50%,0) 
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%,0) 
          margin-right: -65px 
  .card
    width: 100%

  .footer 
    &__input
      flex-basis: 100% 

@media (max-width: 576px)
  .footer 
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__input
      flex-basis: 100% 
    &__social
      &-network
        grid-row: 2
        grid-column: 1 
    &__legal
      grid-row: 3
      grid-column: 1          
    &__additional
      grid-row: 4       
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1 
      &-form
        grid-row: 7
        grid-column: 1
    &__button     
      grid-row: 8
      grid-column: 1 
    &__info
      grid-row: 9
      grid-column: 1     
                        
@media (max-width: 320px)
  .container
    width: 92%
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 23px
      padding-right: 8px
      padding-left: 5px 
  .menu
    &-button
      padding-top: 4px            
  .hotel
    padding-top: 0
    padding-bottom: 42px 
    &-description
      padding-right: 50px
      margin-bottom: 18px
    &-wrapper
      justify-content: space-between
      padding-right: 17px
    &-info
      padding-left: 7px
      &__offer
        margin-left: 2px
    &-right
      min-height: 400px 
      flex-direction: column
    &__slider
      width: 278.44px
      height: 179px
      border-radius: 8px 
      margin: 0 auto 20px
    &-slider 
      &__button
        width: 4%
        height: 4%
        &--prev
          left: 8px
        &--next
          right: 9px

  .breadcrumb
    &-list
      margin-bottom: 2px
      padding-left: 7px        
        
  .stars
    flex-basis: auto
    margin-right: 5px

  .slider
    height: 179px
    width: 279px 
    margin-left: 7px  

  .booking 
    width: 95%
    margin: 0 auto 0
    padding-top: 27px
    padding-left: 23px
    padding-right: 22px
    &__price
      margin-left: 0
    &__start
      margin-left: 0  
    &__per-room
      margin-left: 0  

    &__room
      margin-left: 0
    &__info
      margin-bottom: 11px
    &__button
      margin-right: 2px
    &__call-center
      margin-bottom: 17px

  .map
    width: 96% 
    height: 172px
    margin: 0 auto 0

  .newsletter
    max-width: 320px
    height: 320px
    padding: 83px 20px 83px 20px
    &__title
      margin-bottom: 33px

    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 3px
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
        text-transform: uppercase
    &-wrapper 
      width: 100%
  .subscribe
    width: 280px
    height: 55px 
    &__input
      padding-left: 20px
      padding-right: 75px
      font-style: normal
      font-weight: 300
      font-size: 14px
      line-height: 18px
  .reviews
    margin-bottom: 0
    height: 700px
    &__title
      padding: 0 30px
      margin-bottom: 45px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
    &-slider
      margin-top: -3px
      &__item
        max-width: 95%
        padding: 0 0px 33px  
      &__profile
        margin: -45px auto 0
      &__rating
        margin-left: 0px
        margin-bottom: 23px
      &__text
        width: 219px
        text-align: left
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 160%
      &__button
        top: 30px
        &--prev
          margin-left: -91px
        &--next
          margin-right: -89px
  .activities
    padding-top: 0px
    padding-bottom: 60px
    padding-left: 5px
    padding-right: 5px

    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
      margin-bottom: 35px
    &-wrapper
      flex-wrap: wrap
      justify-content: center
      

    &__card
      margin-bottom: 20px
      &:nth-of-type(2n)
        order: 1
      &:nth-of-type(3)
        margin-bottom: 30px
  .card
    width: 340px
    height: 255px 
    margin-bottom: 20px 
    &__image
      width: 100%
      height: 100%
      border-radius: 6px 
    &__button
      &:nth-of-type(1)
        padding: 7px 20px 6px 18px
  .footer
    &__info
      grid-row: 8
      grid-column: 1
      flex-basis: 100% 
      

    &__button
      grid-row: 9
      grid-column: 1 
      width: 160px
      flex-basis: 50% 
      
        


             
        

          



      





    
  

        
  

          

  
    

            

