@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover


@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px     
      &__search
        margin-left: auto
        margin-right: 73px
      

    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px 
    &-right
      flex-direction: row
  .booking
    width: 340px        
  .slider
    width: 100%
  .map
    width: 340px      



@media (max-width: 768px)

  .container
    max-width: 700px
    width: 100%

  .navbar
    &-menu
      padding-top: 21px
      padding-bottom: 22px 
      padding-left: 15px 
      padding-right: 15px
    &-top
      &__search
        margin-left: auto
        margin-right: 73px

  .stars 
    flex-basis: 100%
  .hotel
    &-info
      &__rating
        margin-top: 7px
  .slider
    height: 450px  
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking 
    width: 340px 
  .map
    width: 340px      



        
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92% 
  .logo
    width: 99px
  .navbar
    &-menu
      display: none 
    &-top
      &__search, &__user
        display: none  
  .navbar
    &-top
      padding-top: 46px
      padding-bottom: 30px 
      padding-right: 12px
  .menu
    &-button
      display: flex
      width: 16px
      height: 14px
      padding-top: 3px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto      
  .rating
    display: none   
  .hotel
    &-name
      flex-basis: 100% 
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 250px 
  .booking 
    width: 100%
  .map
    width: 100%    

  .hotel
    &__slider
      margin-bottom: 20px       
                        
@media (max-width: 320px)
  .container
    width: 92%
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 23px
      padding-right: 8px
      padding-left: 7px 
  .menu
    &-button
      padding-top: 4px            
  .hotel
    padding-top: 0 
    &-description
      padding-right: 50px
      margin-bottom: 18px
    &-wrapper
      justify-content: space-between
      padding-right: 17px
    &-info
      padding-left: 7px
      &__offer
        margin-left: 2px
    &-right
      min-height: 400px  
  .breadcrumb
    &-list
      margin-bottom: 2px
      padding-left: 7px      
        
  .stars
    flex-basis: auto
    margin-right: 5px

  .slider
    height: 179px
    width: 279px 
    margin-left: 7px  

  .booking 
    width: 96%
    margin-left: 7px
    padding-top: 27px
    padding-left: 23px
    padding-right: 23px
    
    &__button
      margin-right: 2px
  .map
    width: 96% 
    height: 172px 
    margin-left: 7px  
    
  

        
  

          

  
    

            

